@charset "utf-8";
/* CSS Document */

*{padding:0px; margin:0px;}
body{padding:0px; margin:0px; overflow-x:hidden;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
a:visited{text-decoration:none;}
ul li{list-style:none;}
p{padding:0px; margin:0px;}
.clear{clear:both; height:0px;}



@font-face {
	font-family: 'Ebrima';
	src: url('..fonts/Ebrima.eot');
	src: url('..fonts/Ebrima.eot?#iefix') format('embedded-opentype'),
		url('..fonts/Ebrima.woff') format('woff'),
		url('..fonts/Ebrima.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ebrima2';
	src: url('..fonts/Ebrima-Bold.eot');
	src: url('..fonts/Ebrima-Bold.eot?#iefix') format('embedded-opentype'),
		url('..fonts/Ebrima-Bold.woff') format('woff'),
		url('..fonts/Ebrima-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family:'Ebrima-Regular';
	src: url('..fonts/Ebrima_gdi.eot');
	src: url('..fonts/Ebrima_gdi.eot?#iefix') format('embedded-opentype'),
		url('..fonts/Ebrima_gdi.woff') format('woff'),
		url('..fonts/Ebrima_gdi.ttf') format('truetype'),
		url('..fonts/Ebrima_gdi.svg#Ebrima-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;
}
@font-face {
	font-family:'Ebrima-Bold';
	src: url('..fonts/Ebrima-Bold_gdi.eot');
	src: url('..fonts/Ebrima-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('..fonts/Ebrima-Bold_gdi.woff') format('woff'),
		url('..fonts/Ebrima-Bold_gdi.ttf') format('truetype'),
		url('..fonts/Ebrima-Bold_gdi.svg#Ebrima-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;
}


@font-face {
	font-family:'CenturyGothic-Regular';
	src: url('../fonts/CenturyGothic_gdi.eot');
	src: url('../fonts/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}

@font-face {
	font-family:'CenturyGothic-Bold';
	src: url('../fonts/CenturyGothic-Bold_gdi.eot');
	src: url('../fonts/CenturyGothic-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Bold_gdi.svg#CenturyGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}


@font-face {
	font-family:'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold_gdi.eot');
	src: url('../fonts/OpenSans-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold_gdi.woff') format('woff'),
		url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype'),
		url('../fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'OpenSans-Regular';
	src: url('../fonts/OpenSans_gdi.eot');
	src: url('../fonts/OpenSans_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans_gdi.woff') format('woff'),
		url('../fonts/OpenSans_gdi.ttf') format('truetype'),
		url('../fonts/OpenSans_gdi.svg#OpenSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'OpenSans-Semibold';
	src: url('../fonts/OpenSans-Semibold_gdi.eot');
	src: url('../fonts/OpenSans-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold_gdi.woff') format('woff'),
		url('../fonts/OpenSans-Semibold_gdi.ttf') format('truetype'),
		url('../fonts/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


.pbs_top_section{ margin:0 auto; background:#fdf6ed; padding:0px;}

.pbs_section_block{width:1104px; margin:0 auto; padding:0px;}


.logo_con{float:left; width:200px; margin:15px 0;}
.logo_con img{margin:0 auto; display:block;}


.pbs_top_section_block_right{float:right; width:110px; margin:25px 0;}
.pbs_top_section_block_right img{display:inline-block; margin:0 0 0 6px;}


.pbs_body_sction1{background:url(../images/pbs_body_sction1bg.png) no-repeat bottom 160px center;  padding:24px 0 0 0; margin:0 auto; background-size:cover; position:relative; z-index:111;}


.pbs_body_sction1 .pbs_section_block{padding:0 15px;}
.pbs_body_sction1_left{padding:0px;}
.pbs_body_sction1_left .pbs_body_sction1_leftimg1{float:right; margin-right:-110px;}
.pbs_body_sction1_left .pbs_body_sction1_left_img{ width:265px; margin-left:-28px; float:left;}
.pbs_body_sction1_left .pbs_body_sction1_left_img img{display:block; margin:0 auto; width:100%;}
.pbs_body_sction1_left .pbs_body_sction1_left_text{width:383px; float:right;}

.pbs_body_sction1_left .pbs_body_sction1_left_text h4{font-family:'OpenSans-Regular'; font-size:36px; color:#000;}

.pbs_body_sction1_left .pbs_body_sction1_left_text h1{font-family:'OpenSans-Bold'; font-size:48px; color:#fff; line-height:48px; font-weight:bold;}
.pbs_body_sction1_left h2{font-family:'OpenSans-Regular'; font-size:26px; color:#000; margin:40px 0 4px 0;}
.pbs_body_sction1_left p{font-family:'OpenSans-Regular'; font-size:18px; line-height:30px; color:#000; width:94%;}

.pbs_body_sction1_right{ float:right; padding:0;}

.pbs_body_sction1_right .form_block{background:#e7e6e5; border:10px solid #fff; width:100%; padding:0px; margin-top:64px; box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4); }


.pbs_body_sction1_right .form_block_top{background:#000; height:115px; padding:20px 22px; font-family:'OpenSans-Bold'; font-size:36px; color:#e9f5f6; line-height:36px; font-weight:bold;}
.pbs_body_sction1_right .form_block_mddle{padding:0 15px;}
.pbs_body_sction1_right .form_block_mddle h2{	font-family:'OpenSans-Regular'; font-size:24px; color:#565656; line-height:28px; padding-bottom:10px;}
.pbs_body_sction1_right .form_block_mddle p{font-family:'OpenSans-Regular'; font-size:18px; color:#3d3c3c; line-height:28px;}
.pbs_body_sction1_right .formdiv{ width:360px; margin:0 auto; margin-top:10px; margin-bottom:38px;}
.errormsg{ display:block; font-size:12px; color:#ff0000;}
.pbs_body_sction1_right .formdiv label{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#565656; font-weight:normal; margin:20px 0 0 0; padding:0;}
.pbs_body_sction1_right .formdiv input[type="text"]{border-radius:0px; border:1px solid #a3a3a2; background:#fff; height:41px; margin:0 0 5px 0;}
.pbs_body_sction1_right .form_block_mddle_select{width:100%; display:block; border-radius:0px; border:1px solid #a3a3a2; background:#fff; height:41px; margin:0 0 5px 0;}

.pbs_body_sction1_right .form_block_bottom{margin:37px 31px 37px 31px;}
.get_started{background:#028fd0  url(../images/btn.png) repeat-x left top; font-family:'OpenSans-Bold'; font-size:48px; color:#fff; text-align:center; font-weight:bold; display:block; margin:0 auto; width:360px; height:80px; line-height:80px; border-radius:4px; text-transform:uppercase; cursor:pointer; border:none; margin-top:37px;}


.pbs_body_sction1_bottom{background:#efc532; margin:0 auto; padding:0px; position:relative; height:114px; margin-top:-160px; z-index:110;}

.pbs_body_sction1_bottom .pbs_body_sction1_bottom_content{position:absolute; padding:0px;}
.pbs_body_sction1_bottom .pbs_body_sction1_bottom_content h1{font-family:'OpenSans-Bold';  font-weight:bold; text-transform:uppercase; font-size:30px; margin:0px; padding:0;  color:#fff; text-shadow:0px 0px 3px rgba(0, 0, 0, 0.2); margin-top:24px; width:630px;}

.pbs_body_sction2{background:#f4f4f4; position:relative; z-index:110;  padding:0px 0 80px 0; margin:0 auto;}
.pbs_body_sction2 .pbs_body_sction2_topcontent{margin-top:19px; background:url(../images/pbs_body_sction2_img1.png) no-repeat top right 375px;}
.pbs_body_sction2 .pbs_body_sction2_topcontent h1{font-family:'OpenSans-Bold';  font-weight:bold; font-size:42px; margin:0px; color:#333;}
.pbs_body_sction2 .pbs_body_sction2_topcontent h1 span{ display:none;}
.pbs_body_sction2 .pbs_body_sction2_topcontent h1 img{ margin-left:18px;}
.pbs_body_sction2 p{font-family:'OpenSans-Regular';  font-size:18px; color:#333333; line-height:30px; margin:20px 0;}


.pbs_body_sction3{position:inherit; margin:40px auto; margin-bottom:10px; padding:0px;}

.pbs_body_sction3 .pbs_body_sction3_containleft h1{color:#1f1f1f;font-family:'OpenSans-Regular'; font-size:30px; margin:0px;}
.pbs_body_sction3 .pbs_body_sction3_containleft p{color:#444444; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0px; padding-top:15px;}

.pbs_body_sction3_block1{background:#f4f4f4; padding:25px 10px 25px 33px; border-bottom:solid 1px #ffffff;}
.pbs_body_sction3_block1_contain{background:url(../images/pbs_body_sction3_no1.png) no-repeat top left; padding-left:66px; padding-top:12px;}

 .pbs_body_sction3_block2{background:#fdf6ed; padding:25px 10px 25px 33px; border-bottom:solid 1px #ffffff;}
  .pbs_body_sction3_block3{background:#fdf6ed; padding:25px 10px 25px 33px; border-bottom:solid 1px #ffffff;}
 .pbs_body_sction3_block2 .pbs_body_sction3_block2_contain{background:url(../images/pbs_body_sction3_no2.png) no-repeat top left; padding-left:66px; padding-top:12px;}


 .pbs_body_sction3_block3_contain{background:url(../images/pbs_body_sction3_no3.png) no-repeat top left; padding-left:66px; padding-top:12px;}


 .pbs_body_sction3_block4_contain{background:url(../images/pbs_body_sction3_no4.png) no-repeat top left; padding-left:66px; padding-top:12px;}
 
 .pbs_body_sction3_block3 ul li{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444; margin-bottom:23px; background:url(../images/libullate.png) no-repeat center left; padding-left:30px;}
 
.pbs_body_sction3_block4_contain_list{border:1px solid #d3ccc4; border-right:none; border-left:none; padding:20px 0px 20px 0px; margin:20px 25px 20px 0;}

.pbs_body_sction3_block4_contain_list_left{width:60%; float:left;}
.pbs_body_sction3_block4_contain_list_right{width:40%; float:right;}
.pbs_body_sction3_block4 h5{text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#212020; margin:0px;}

.pbs_body_sction3_block5{background:#f4f4f4; padding:25px 10px 25px 33px;}
 .pbs_body_sction3_block5_contain{background:url(../images/pbs_body_sction3_no5.png) no-repeat top left; padding-left:66px; padding-top:12px;}

 .pbs_body_sction3_block6{background:#fdf6ed; padding:25px 10px 25px 33px;}
 .pbs_body_sction3_block6_contain{background:url(../images/pbs_body_sction3_no6.png) no-repeat top left; padding-left:66px; padding-top:12px;}

 .pbs_body_sction3_block7{background:#f4f4f4; padding:25px 10px 25px 33px;}
.pbs_body_sction3_block7_contain{background:url(../images/pbs_body_sction3_no7.png) no-repeat top left; padding-left:66px; padding-top:12px;}

.pbs_body_sction3_block8{background:#fdf6ed; padding:25px 10px 25px 33px;}
 .pbs_body_sction3_block8_contain{background:url(../images/pbs_body_sction3_no8.png) no-repeat top left; padding-left:66px; padding-top:12px;}


.pbs_body_sction3_containright h1{font-family:'OpenSans-Bold'; font-weight:bold; font-size:30px; margin:0px; color:#333333; padding:50px 0 10px 0;}
.pbs_body_sction3_containright h2{	font-family:'OpenSans-Semibold'; font-size:14px; margin:0px 0 7px 0; color:#333;}
.pbs_body_sction3_containright h3{font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0px; color:#4b4a4a;}

.pbs_body_sction3_containright .macblock{background:url(../images/pbs_body_sction3_macimg.png) no-repeat top center; background-size:100%; height:374px;  width:444px; margin:0 auto;}


.macblockdiv{ padding:10px 10px 104px 10px;}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.pbs_body_sction3_containright .testimonial_block{margin:15px 0; margin-bottom:40px;}
.pbs_body_sction3_containright .testimonial_block .testimonial_block_content{padding:22px; border:1px solid #d4d5d8; border-radius:6px; font-size:12px; line-height:24px;}

.pbs_body_sction3_containright .testimonial_block .testimonial_block_content p{ margin:0; padding:0;}
.pbs_body_sction3_containright .testimonial_block .pbs_body_sction3_testblockbtm{float:right; margin:-4px 30px 0px 0px;}

.pbs_body_sction3_containright .testimonial_block .testimonial_block_bottom{margin-top:12px;}
.pbs_body_sction3_containright .testimonial_block .testimonial_block_bottom img{float:right; margin-left:15px;}
.pbs_body_sction3_containright .testimonial_block .testimonial_block_bottom .testimonial_block_bottom_text{float:right; text-align:right; margin-top:11px;}

.home_footertop{background:#f2ab49; text-align:center; padding:38px 0;  margin:0 auto; margin-top:60px;}
.home_footertop .home_footertop_text h1{font-family:'OpenSans-Bold'; font-size:34px; padding:0; margin:0px; color:#fff; }

.home_footer{ margin:0 auto; padding:0px; background:#fdf6ed;}
.home_footer .logo_con{margin:27px 0;}
.home_footer p{float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3c3c; margin-top:54px;}



 .pbs_body_sction3_block3 h5 {
    color: #212020;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
}




.innerbody{ border-top:solid 8px #f2ab49; border-bottom:solid 8px #f2ab49; background:#fff;}

.thankyoubody{ padding:160px 0;}

.checkoutbody{ position:relative;}

.chakeoutbox{ width:566px; margin:64px auto; border:solid 10px #fff;  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); margin-top:130px; background:#ececec;}

.chakeoutbox h2{font-family:'OpenSans-Bold'; font-size:28px; color:#cdd0d0; margin:0; padding:20px 5px; text-align:center; background: #222221 url(../images/chakeoutheading.png) no-repeat left top; text-transform:uppercase; text-shadow:0 0 1px #000;}


.chakeoutbox .chakeoutform{  width:450px; margin:35px auto;}

.chakeoutbox .chakeoutform label{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#565656; font-weight:normal; margin:0; padding:0; width:100%;}

.chakeoutbox .chakeoutform .formbox1{ width:49%; float:left; margin-bottom:14px;}
.chakeoutbox .chakeoutform .formbox2{ width:49%; float:right; margin-bottom:14px;}

.chakeoutbox .chakeoutform .formbox3{ width:100%; float:none; margin-bottom:14px;}


.chakeoutbox .chakeoutform .formbox4{ width:32%; float:left; margin-bottom:14px; margin-right:2%;}
.chakeoutbox .chakeoutform .formbox5{ width:32%; float:left; margin-bottom:14px; margin-right:2%;}
.chakeoutbox .chakeoutform .formbox6{ width:32%; float:right; margin-bottom:14px;}

.chakeoutbox .chakeoutform .formbox7{ width:100%; float:right; margin-bottom:14px;}

.chakeoutbox .chakeoutform .formbox8{ width:100%;}


.chakeoutbox .chakeoutform input[type="text"]{background: #fff;
    border: 1px solid #a3a3a2;
    border-radius: 0;
    height: 40px;
    margin: 6px 0; width:100%; padding:0 5px;}
	
.chakeoutbox .chakeoutform select{background: #fff;
    border: 1px solid #a3a3a2;
    border-radius: 0;
    height: 40px;
    margin: 6px 0; width:100%;}	
	
	
.chakeoutbox .chakeoutform .formbox7 input[type="text"]{background: #fff;
    border: 1px solid #a3a3a2;
    border-radius: 0;
    height: 40px;
    margin: 6px 0; width:210px; padding:0 5px;}
	
	.chakeoutbtn{ background:url(../images/btn.png) repeat-x; width:294px; height:55px; margin:35px auto; display:block; border:none; cursor:pointer; border-radius:5px; 
	
	font-family: "OpenSans-Bold";
    font-size: 30px; color:#fff; text-transform:uppercase; }
	
	.chakeoutarrow{ position:absolute; z-index:9; top:35px; left:190px;}
	
	.chakeoutround{ background:url(../images/chakeout1.png) no-repeat; width:321px; height:306px; position:absolute; left:-70px; top:60px; background-size:100%;}
	
	.roundtext{ width:250px; height:250px; 	font-family:'CenturyGothic-Bold'; font-size: 40px; line-height:38px; color:#ffffff; text-align:center; text-transform:uppercase;  margin: 92px 0 0 58px; }
	.roundtext span{ font-size:30px; display:inline-block; }
	
