<div class="container-fluid home_footer">
    <div class="row">
        <div class="container pbs_section_block">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo_con">
                        <a ui-sref="home"><img src="images/pbs_logo.png" alt="#"></a>
                    </div>
                    <p>&copy; Power! Branding Solutions All rights reserved.</p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>