<div class="container-fluid pbs_body_sction1">
    <div class="row">
        <div class="container pbs_section_block">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 pbs_body_sction1_left">
                    <img src="images/pbs_body_sction1_leftimg1.png" class="pbs_body_sction1_leftimg1" alt="#">
                    <div class="clear"></div>
                    <div class="pbs_body_sction1_left_img">
                        <img src="images/pbs_body_sction1_leftimg2.png" alt="#">
                    </div>
                    <div class="pbs_body_sction1_left_text">
                        <h4>Smarter Marketing</h4>
                        <h1>WE'RE HERE TO BOOST YOUR BRAND</h1>
                    </div>
                    <div class="clear"></div>
                    <h2>Social media, content marketing,</h2>
                    <p>blogging, banner ads, testimonials, you've done it all, right? All in an attempt to hit page 1 of search engines, right again? And then one bad review is posted online, and all that hard work is pushed down. It's frustrating! But we're here to help with smarter, more efficient marketing methods.
                        Power Branding Solutions is a full service SEO platform. We exist to get you better search results.
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 pbs_body_sction1_right">
                    <div class="form_block">
                        <div class="form_block_top">
                            30 Days to a Stronger Online Presence
                        </div>
                        <div class="form_block_mddle">
                            <h2>In 30 Days You'll Be Attracting Higher Quality Leads and More Sales</h2>
                            <p>Everything you need to be found online by the right audience.</p>

                            <div class="formdiv">
                                <form angular-validator-submit="step1()" name="signUpForm" class="form-horizontal" novalidate angular-validator>
                                    <div class="form-group">
                                        <label>First Name<span>*</span></label>
                                        <input type="text"  placeholder="First Name" name="fname"
                                               validate-on="submission"
                                               class = "form-control"
                                               ng-model = "form.fname"
                                               required-message="'First Name cannot be blank.'"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <label>Last Name<span>*</span></label>
                                        <input type="text"  placeholder="Last Name" name="lname"
                                               validate-on="submission"
                                               class = "form-control"
                                               ng-model = "form.lname"
                                               required-message="'Last Name cannot be blank.'"
                                               required>
                                    </div>

                                    <div class="form-group" id="emailgroup">
                                        <label>Email<span>*</span></label>
                                        <input type="email"  placeholder="Email" name="email"
                                               validate-on="submission"
                                               class = "form-control"
                                               ng-model = "form.email"
                                               required-message="'Email cannot be blank.'"
                                               invalid-message="'Enter valid email address.'"
                                               required>
                                    </div>
                                    <input type="submit" class="get_started" value="Get Started">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pbs_body_sction1_bottom">
    <div class="row">
        <div class="container pbs_section_block">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pbs_body_sction1_bottom_content">
                <h1>Everything you need to attract the right customer for your business. </h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pbs_body_sction2">
    <div class="row">
        <div class="container pbs_section_block">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pbs_body_sction2_content">
                    <div class="pbs_body_sction2_topcontent">
                        <h1>What's the deal<span>?</span> <img src="images/pbs_body_sction2_img2.png" alt="#"></h1>
                    </div>
                    <p>We use all of the acceptable and proven methods in the industry, to help you gain 1st page results on search directories and search
                        engines. With the behind the scenes use of dozens of keywords and tags, a lengthy business description, links to your website, Facebook and Twitter accounts, photos, video, and maps, we create a robust Premium Business Listing for you, that is attractive to search directories and search engines.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="container-fluid pbs_body_sction3">
    <div class="row">
        <div class="container pbs_section_block">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-md-12 col-xs-12 pbs_body_sction3_containleft">
                    <div class="pbs_body_sction3_block1">
                        <div class="pbs_body_sction3_block1_contain">
                            <h1>We Drive Consumers To You</h1>
                            <p>Your Premium Business Listing will be spread far and wide across the internet, bringing you maximum online exposure, and putting you in front of consumers that are looking for your product or service right now!</p>
                        </div>
                    </div>
                    <div class="pbs_body_sction3_block2">
                        <div class="pbs_body_sction3_block2_contain">
                            <h1>SEO (Search Engine Optimization)</h1>
                            <p>We've all heard the term 'SEO', but what does it mean and why should you care? Simply put, SEO is a method used to push you higher in Search Engines, such as Google, Yahoo, Bing, MSN & others.</p>
                        </div>
                    </div>
                    <div class="pbs_body_sction3_block1">
                        <div class="pbs_body_sction3_block3_contain">
                            <h1>SEM (Search Engine Marketing)</h1>
                            <p>SEM (search engine marketing) is typically associated with Pay Per Click campaigns. Unlike Pay Per Click, our service doesn't cost you money every time someone simply clicks on your ad, and you'll have peace of mind,	knowing what your costs will be, and that your Premium Business Listing will be shown all month long and doesn't stop when your 'clicks' have maxed out.</p>
                        </div>
                    </div>
                    <div class="pbs_body_sction3_block3">
                        <div class="pbs_body_sction3_block4_contain">
                            <h1>Your Premium Business Listing </h1>
                            <p>As an advertising partner with ChoiceAdz.com, you'll receive a Premium Business Listing that includes:</p>
                        </div>
                        <div class="pbs_body_sction3_block4_contain_list">
                            <div class="pbs_body_sction3_block4_contain_list_left">
                                <ul>
                                    <li>An Eye Catching Business Tag Line</li>
                                    <li>A Keyword Rich Business Description</li>
                                    <li>Up to 5 Photos</li>
                                    <li>1 Video</li>
                                    <li>Up to 12 Business Categories</li>
                                    <li>Dozens of Keywords / Tags</li>
                                    <li>A Map With Directions to Your Location</li>
                                </ul>
                            </div>
                            <div class="pbs_body_sction3_block4_contain_list_right">
                                <ul>
                                    <li>Links to Your Website</li>
                                    <li>Your Hours of Operation</li>
                                    <li>Your Business Phone Number</li>
                                    <li>Your Business Address</li>
                                    <li>A Link to your Facebook page <sup>*</sup></li>
                                    <li>Facebook "Like" Buttons <sup>*</sup></li>
                                    <li>Links to Your Twitter Account <sup>*</sup></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <h5>Live "Tweets" From Your Account <sup>*</sup></h5>
                    </div>
                    <div class="pbs_body_sction3_block1">
                        <div class="pbs_body_sction3_block5_contain">
                            <h1>No Website Necessary</h1>
                            <p>Building a website can be expensive and time consuming, and paying for optimization (SEO) of your website, so it can actually be found online, is an additional expense and hassle.</p>
                        </div>
                    </div>
                    <div class="pbs_body_sction3_block2">
                        <div class="pbs_body_sction3_block6_contain">
                            <h1>GEO Targeted Advertising</h1>
                            <p>Why pay for advertising that reaches beyond your potential customer base, or doesn't reach far enough? Our ChoiceAdz.com Internet advertising packages offer a great value, no matter what size business you have!</p>
                        </div>
                    </div>
                    <div class="pbs_body_sction3_block1">
                        <div class="pbs_body_sction3_block7_contain">
                            <h1>Reach Consumers On The Go</h1>
                            <p>Nowadays it seems that everyone has an iPhone, Droid, Blackberry or some other variation of these smart phones.</p>
                            <p>This has made it easier for people to use the Internet on the go. To not only perform searches, but to also 	compare prices while in a store, search for restaurants while sitting in a movie theatre or vice versa, and </p>
                        </div>
                    </div>
                    <div class="pbs_body_sction3_block2">
                        <div class="pbs_body_sction3_block8_contain">
                            <h1>Facebook & Twitter Exposure</h1>
                            <p>It is estimated that 1 out of every 8 minutes spent online is on Facebook and that nearly half of all Facebook 	users are now over the age of 35. As a business owner, you must get in the flow of that traffic, and attract consumers socially, while giving them an easy way to share your business with everyone they know.
                                and to 	make purchases or reservations, without ever speaking to a live sales rep. So it's important for a business to be 	found online, but also viewable on mobile devices. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-md-12 col-xs-12 pbs_body_sction3_containright">
                    <div class="macblock">
                        <div class="macblockdiv">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/2vB9DYQhcBc?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <h1>Testimonials</h1>
                    <div class="testimonial_block">
                        <div class="testimonial_block_content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
                        </div>
                        <img src="images/pbs_body_sction3_testblockbtm.png" class="pbs_body_sction3_testblockbtm" alt="#">
                        <div class="clear"></div>
                        <div class="testimonial_block_bottom">
                            <img src="images/pbs_body_sction3_testimg1.png" alt="#">
                            <div class="testimonial_block_bottom_text">
                                <h2>Name</h2>
                                <h3>Marketing Designer</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="testimonial_block">
                        <div class="testimonial_block_content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took ....</p>
                        </div>
                        <img src="images/pbs_body_sction3_testblockbtm.png" class="pbs_body_sction3_testblockbtm" alt="#">
                        <div class="clear"></div>
                        <div class="testimonial_block_bottom">
                            <img src="images/pbs_body_sction3_testimg2.png" alt="#">
                            <div class="testimonial_block_bottom_text">
                                <h2>Name</h2>
                                <h3>Marketing Designer</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="testimonial_block">
                        <div class="testimonial_block_content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
                        </div>
                        <img src="images/pbs_body_sction3_testblockbtm.png" class="pbs_body_sction3_testblockbtm" alt="#">
                        <div class="clear"></div>
                        <div class="testimonial_block_bottom">
                            <img src="images/pbs_body_sction3_testimg3.png" alt="#">
                            <div class="testimonial_block_bottom_text">
                                <h2>Name</h2>
                                <h3>Marketing Designer</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="testimonial_block">
                        <div class="testimonial_block_content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>
                        <img src="images/pbs_body_sction3_testblockbtm.png" class="pbs_body_sction3_testblockbtm" alt="#">
                        <div class="clear"></div>
                        <div class="testimonial_block_bottom">
                            <img src="images/pbs_body_sction3_testimg4.png" alt="#">
                            <div class="testimonial_block_bottom_text">
                                <h2>Name</h2>
                                <h3>Marketing Designer</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="testimonial_block">
                        <div class="testimonial_block_content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not </p>
                        </div>
                        <img src="images/pbs_body_sction3_testblockbtm.png" class="pbs_body_sction3_testblockbtm" alt="#">
                        <div class="clear"></div>
                        <div class="testimonial_block_bottom">
                            <img src="images/pbs_body_sction3_testimg5.png" alt="#">
                            <div class="testimonial_block_bottom_text">
                                <h2>Name</h2>
                                <h3>Marketing Designer</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="testimonial_block">
                        <div class="testimonial_block_content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
                        </div>
                        <img src="images/pbs_body_sction3_testblockbtm.png" class="pbs_body_sction3_testblockbtm" alt="#">
                        <div class="clear"></div>
                        <div class="testimonial_block_bottom">
                            <img src="images/pbs_body_sction3_testimg6.png" alt="#">
                            <div class="testimonial_block_bottom_text">
                                <h2>Name</h2>
                                <h3>Marketing Designer</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home_footertop">
    <div class="row">
        <div class="container pbs_section_block">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home_footertop_text">
                    <h1>Start marketing smarter today with Power Branding Solutions! </h1>
                </div>
            </div>
        </div>
    </div>
</div>
